.App {
  text-align: center;
}

.Grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  /* grid-template-rows: 100px; */
  grid-gap: 2px;
  background-color: rgb(153, 153, 153);
  padding: 3px;
  margin: 60px 200px 60px 200px;
}

.Grid-container > div {
  background-color: rgba(243, 243, 243, 0.8);
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
}